<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bottomnamviagtionbar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings.NotificationPage"></activity>
        <activity android:name=".Settings.ProfileFolder.ChangePasswordProfile" />
        <activity android:name=".Settings.TermsOfService" />
        <activity android:name=".Settings.ProfileFolder.ProfileInfo" />
        <activity android:name=".Settings.settings" />
        <activity android:name=".Settings.privacy" />
        <activity android:name=".Settings.preferances" />
        <activity android:name=".MainPages.AccountPage" />
        <activity android:name=".MainPages.History" />
        <activity android:name=".MainPages.Paybills" />
        <activity android:name=".MainPages.Budget.BudgetPage" />
        <activity android:name=".RergistrationAndLogin.ChangePassword" />
        <activity android:name=".MainPages.SetupBudget" />
        <activity android:name=".RergistrationAndLogin.RecoveryMessage" />
        <activity android:name=".RergistrationAndLogin.RecoveryPass" />
        <activity android:name=".RergistrationAndLogin.Register" />
        <activity android:name=".MainPages.MainActivity" />
        <activity android:name=".RergistrationAndLogin.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>