<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Save.Save_App">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.Save.Save_App.Settings.ModifyIncome" />
        <activity android:name="com.Save.Save_App.RergistrationAndLogin.Login" />
        <activity android:name="com.Save.Save_App.Settings.NotificationPage" />
        <activity android:name="com.Save.Save_App.Settings.ProfileFolder.ChangePasswordProfile" />
        <activity android:name="com.Save.Save_App.Settings.TermsOfService" />
        <activity android:name="com.Save.Save_App.Settings.ProfileFolder.ProfileInfo" />
        <activity android:name="com.Save.Save_App.Settings.settings" />
        <activity
            android:name="com.Save.Save_App.MainPages.AccountPage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.Save.Save_App.MainPages.History" />
        <activity
            android:name="com.Save.Save_App.MainPages.Paybills"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainPages.Budget.BudgetPage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".RergistrationAndLogin.ChangePassword" />
        <activity android:name=".MainPages.SetupBudget" />
        <activity android:name=".RergistrationAndLogin.RecoveryMessage" />
        <activity android:name=".RergistrationAndLogin.RecoveryPass" />
        <activity android:name=".RergistrationAndLogin.Register" />
        <activity
            android:name=".MainPages.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Helpers.BackgroundService"
            android:permission="android.permission.BIND_JOB_SERVICE"

            android:enabled="true" >
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>